<div class="portlet light" id="hierarchy-tree" [ngClass]="{'fullscreen-tree': fullscreenStatus == true }">
  <button (click)="fullscreen()" class="btn blue">
    <span *ngIf="fullscreenStatus != true"><i class="fa fa-arrows-alt"></i> Full Screen</span>
    <span *ngIf="fullscreenStatus == true"><i class="fa fa-arrows"></i> Exit Screen</span>
  </button>
  <section id="Treedraggable" class="management-hierarchy"
           ngDraggable [preventDefaultEvent]='false'
           (started)="onStart($event)" (stopped)="onStop($event)">
    <h4 style="color:green">{{mouseWheelDir}}</h4>
    <div class="hv-container" mouseWheel
         (mouseWheelUp)="mouseWheelUpFunc(event)"
         (mouseWheelDown)="mouseWheelDownFunc(event)">
      <div class="hv-wrapper" *ngIf="isDataAvailable">
        <!-- Key component -->
        <div class="hv-item">
          <app-node [node]="node" ></app-node>
        </div>
      </div>
    </div>
  </section>
  <ngx-smart-modal #nodeEditModal
                   identifier="nodeEditModal"
                   [customClass]="'edit-modal'"
                   (onClose)="closeEditNodeModal()"
                   (onDismiss)="closeEditNodeModal()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="nodeEditModal.close()" class="close" ></button>
          <h4 *ngIf="nodeEditModal.hasData()" class="modal-title">{{ nodeEditModal.getData().nodeName }}</h4>
        </div>
        <div class="modal-body" style="min-height: 300px">
          <div class="row"  *ngIf="!loading">
            <div class="col-md-12" *ngIf="nodeEditModal.hasData()">
              <form action="#" class="form-horizontal">
                <div class="form-body">
                  <div class="form-group">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-8">
                      <input type="text" value="{{ nodeEditModal.getData().nodeName }}" class="form-control" placeholder="Enter text">
                    </div>
                  </div>
                  <div class="form-group" *ngIf="nodeEditModal.getData().selectedNodes.length > 0">
                    <label class="col-md-3 control-label">Child Nodes</label>
                    <div class="col-md-8">
                      <select2 [data]="nodeEditModal.getData().nodes"
                               [options]="nodeEditModal.getData().options"
                               [width]="'100%'"
                               [value]="nodeEditModal.getData().selectedNodes"></select2>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="nodeEditModal.close()" class="btn dark btn-outline">Close</button>
          <button type="button" class="btn green">Save changes</button>
        </div>
      </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
  </ngx-smart-modal>
</div>


