<div class="portlet light" >
  <section id="Treedraggable" class="management-hierarchy" mouseWheel
           (mouseWheelUp)="mouseWheelUpFunc(event)"
           (mouseWheelDown)="mouseWheelDownFunc(event)" draggable="true">
    <h4 style="color:green">{{mouseWheelDir}}</h4>
    <div class="hv-container">
      <div class="hv-wrapper" *ngIf="isDataAvailable">
        <!-- Key component -->
        <div class="hv-item">
          <app-node [node]="node"></app-node>
        </div>
      </div>
    </div>
  </section>
  <ngx-smart-modal #nodeEditModal identifier="nodeEditModal" (onOpen)="getNode(editNode)" (nodeEvent)="receiveNodeEvent($event)">
    <h1>asd</h1>

    <button (click)="nodeEditModal.close()">Close</button>
  </ngx-smart-modal>
</div>


