
<!-- Key component -->
<div class="hv-item" [class.collapse]="wasClicked">

  <div class="hv-item-parent"  [ngClass]="{'no-child': node.nodes.length == 0 }">
    <div class="person" (click)="onClick($event)" *ngIf="node.style == 'person'">
      <img src="https://pbs.twimg.com/profile_images/762654833455366144/QqQhkuK5.jpg" alt="">
      <p class="name">
        {{node.header}}
      </p>
    </div>
    <div class="simple-card" [ngClass]="{'circle': node.style == 'circ','active-options': option === true }"  *ngIf="node.style == null || node.style == 'rect' || node.style == 'circ'">
      <p (click)="toggleShowDiv($event)">
        {{node.header}}
      </p>
      <div class="node-options" (click)="activeOptions(option)">
        <i class="fa fa-ellipsis-v"></i>
      </div>
      <div class="node-options-more">
        <a class="btn btn-circle btn-icon-only blue" (click)="editNode(node)">
          <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-circle btn-icon-only red" href="javascript:;">
          <i class="icon-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="hv-item-children" *ngIf="!isLeaf(node)" [@slideInOut]="animationState">

    <div class="hv-item-child" *ngFor="let innerNode of node.nodes" [ngClass]="{'has-class': node.nodes.length == 1 }">
      <div>
        <app-node [node]="innerNode"></app-node>
      </div>
    </div>

  </div>

</div>

